* {
	font-size: small;
	color: #222;
	font-family: arial, sans-serif;
	margin: 0;
}
/* logo */
#main {
	display: block;
	text-align: center;
	margin-top: 120px;
}
#glogo {
	display: inline-block;
	max-width: 260px;
	max-height: 260px;
	width: auto;
	height: auto;
	margin: 0 auto 0 auto;
	padding-bottom: 40px;
}
/* navbar */
.navbar {
	width: 100%;
	height: 50px;
	text-align: right;
}
.navbar ul {
	list-style-type: none;
	padding: 15px;
}
.navbar li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0 7px;
}
.navbar li a {
	text-decoration: none;
	color: #4d4d4d;
}
.navbar li img {
	opacity: .55;
}
.navbar li a #profile {
	opacity: 1 !important;
}
.navbar li a:hover {
	text-decoration: underline;
	color: #000;
}
.navbar li a img:hover {
	opacity: .90;
}
/* search bar */
#sbar-container {
	width: 45%;
	margin: 0 auto;
	border-radius: 1px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}
#sbar-container:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
#sbar {
	display: inline-block;
	padding: 10px 5px 0 15px;
	width: 500px;
}
#field {
	border: none;
	outline: none;
	height: 30px; 
	width: 500px;
	padding-bottom: 10px;
	background: transparent;
	font-size: 15px;
	overflow: hidden;
}
#but_c {
	position: relative;
	text-align: center;
	width: 500px;
	margin: 0 auto;
	padding-top: 18px;
}
#but_c .button {
	height: 36px;
	line-height: 27px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-family: arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
}
#but_c .button:hover{
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
#footer {
	display: block;
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	font-size: 10px;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}
#fbar {
	line-height: 40px;
}
#fbar #fbar_right {
	float: right;
}
#fbar #fbar_left {
	float: left;
}
#footer a {
	color: #666;
	text-decoration: none;
	padding-left: 27px;
}
#footer #fbar_right {
	padding-right: 25px;
}
#footer a:hover {
	text-decoration: underline;
}